fastapi==0.111.1
uvicorn[standard]==0.23.2
asarPy==1.0.1
bleak==3.0.2
certifi==2026.5.20
charset-normalizer==3.4.7
dbus-fast==5.0.22
docker==7.1.0
evdev==1.9.3
idna==3.18
pycycling==0.4.1
pynput==1.8.2
python-input==0.1.5
python-uinput==1.0.1
python-xlib==0.33
requests==2.34.2
six==1.17.0
urllib3==2.7.0
